html, body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

body {
	background-image:url(https://s3.amazonaws.com/codecademy-content/projects/junction/bg.jpg);
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

.container {
  max-width:940px;
}

/* header */

.header {
	background:rgba(0,0,0,.5);
	padding:12px;
}

.header img {
	height:31px;
	float:left;
	margin-left:30px;
}

.nav {
	margin-left:100px;
	padding:5px 0;
}

.nav li {
	display:inline-block;
	margin-right:30px;
}

.nav li a {
	color:white;
	padding:0;
}

.nav li a:hover {
	background:none;
	text-decoration:underline;text-underline-position: under;
	border-bottom:1px solid black;
	color:#00FFBC;
}

/* jumbotron */

.jumbotron {
	background:transparent;
	text-align:center;
	color:white;
	text-shadow:1px 2px 1px rgba(0,0,0,.5);
	padding:0;
	padding-top:78px;
}

.jumbotron h1 {
	font-size:60px;
}

/* supporting */

.supporting {
	text-align:center;
	color:white;
}

.supporting img {
	height:128px;
	margin-top:28px;
}

.supporting h2 {
	font-size:25px;
	text-shadow:1px 2px 1px rgba(0,0,0,.5);
}

.supporting p {
	font-size:16px;
	text-shadow:1px 2px 1px rgba(0,0,0,.5);
	width:95%;
	margin-left:19px;
}

/* download */

.download {
	text-align:center;
	padding-top:120px;
}

.btn {
	color:white;
	padding:10px 60px;
	background-color:#1AA787;
	border:none;
	border-radius:8px;
	font-size:18px;
	letter-spacing:1px;
}

.btn:hover {
	background-color:#192629;
	color:white;
}